
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
        <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
	    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
	        <Resource name="jdbc/mysql"
			           auth="Container"
			           type="javax.sql.DataSource"
			           username="admin"
			           password="12341234"
			           driverClassName="com.mysql.cj.jdbc.Driver"
				   url="jdbc:mysql://database-1.crpyfzp1l3p7.eu-west-1.rds.amazonaws.com:3306/reca3"
			           maxActive="15"
			           maxIdle="3"/>
			    
		 <Manager pathname="">
	</Context>
